@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gotham-pro.woff2") format("woff2"), url("../fonts/gotham-pro.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gotham-pro-bold.woff2") format("woff2"), url("../fonts/gotham-pro-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

body {
  font: 16px/1.4em "Gotham Pro", Arial, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ring-wrapper {
  position: relative;
  /* width: 290px;
  height: 290px; */
}

.ring-wrapper text {
  font-family: "Gotham Pro", Arial, sans-serif;
}

.ring-segment {
  stroke-lineCap: round;
}

.chart-text {
  font: 16px/1.4em "Gotham Pro", "Arial", sans-serif;
  fill: #555966;
  font-weight: 400;
  text-anchor: middle;
}

.chart-number {
  -ms-transform: translateY(-0.3em);
  -webkit-transform: translateY(-0.3em);
  transform: translateY(-0.3em);
}

.chart-number-main {
  font-size: 0.4em;
  line-height: 1;
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.percent {
  font-size: 0.18em;
}

.chart-number-small {
  font-size: 0.2em;
}

.chart-text-main {
  font-size: 0.2em;
  line-height: 1;
  font-weight: 700;
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-text-strong {
  fill: #fbd324;
  font-size: 0.15em;
  line-height: 1;
  font-weight: 700;
  -ms-transform: translateY(1.2em);
  -webkit-transform: translateY(1.2em);
  transform: translateY(1.2em);
}

.chart-text-small {
  fill: #c5c6c6;
  font-size: 0.1em;
  line-height: 1;
  font-weight: normal;
}

.chart-text-small-1 {
  -webkit-transform: translateY(3em);
      -ms-transform: translateY(3em);
          transform: translateY(3em);
}

.chart-text-small-2 {
  -webkit-transform: translateY(4.2em);
      -ms-transform: translateY(4.2em);
          transform: translateY(4.2em);
}

.chart-text-small-3 {
  -webkit-transform: translateY(5.4em);
      -ms-transform: translateY(5.4em);
          transform: translateY(5.4em);
}

.chart-number-bottom {
  fill: #71a94a;
  font-size: 0.15em;
  line-height: 1;
  font-weight: normal;
  -webkit-transform: translate(0.5em, 5.1em);
      -ms-transform: translate(0.5em, 5.1em);
          transform: translate(0.5em, 5.1em);
}

.arrow {
  fill: #71a94a;
  width: 5%;
  position: absolute;
  top: 74%;
  left: 43%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.figcaption {
  margin-top: 20px;
  margin-left: 32px;
}

.figcaption__icon-human {
  width: 1em;
  fill: #9e9e9d;
  margin-left: 10px;
}

.figcaption__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.figcaption__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: start;
     -ms-flex-align: start;
   align-items: flex-start;
}

.figcaption__item-name {
  margin: 0;
  font-weight: 700;
  font-size: 0.8em;
  width: 91px;
}

.figcaption__percent-wrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50px;
  margin-right: 10px;
}

.figcaption__percent-small {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
     -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
     -ms-flex-align: baseline;
        align-items: baseline;
}

.figcaption__percent-table {
  position: relative;
  margin: 0;
  width: 92px;
  padding-top: 4px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 42px;
  background-color: #f9f9f9;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  font-size: 14px;
}

.figcaption__percent-table::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 72%;
  background-color: #71a94a;
  border-top-left-radius: 10px;
}

.figcaption__percent-table::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 25px;
  height: 28%;
  background-color: #b6d1a3;
  border-bottom-left-radius: 10px;
}

.figcaption__percent-table-2::before {
  background-color: #fbd324;
}

.figcaption__percent-table-2::after {
  background-color: #fae792;
}

.figcaption__percent-table-3::before {
  background-color: #ee5141;
}

.figcaption__percent-table-3::after {
  width: 35px;
  background-color: #f3a89f;
}

.flag {
  width: 13%;
  position: absolute;
  top: 1%;
  left: 44%;
}

.flag path {
  fill: #cdcdcd;
}
